<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
   

    <div>
        Dear Sir/Madame,
        One more step to go, we just need you to verify Your Email address to complete you registration.
        Click <a href="@Viewbag.ConfirmationLink"> Here.</a>
    </div>
</body>
</html>
